<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111495904-1"></script>
    <script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-111495904-1');</script>
     -->
    <meta charset="utf-8">

    {% block header %}
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary">

    <!--
    <meta name="twitter:creator" content="@SrPablo">

    <link rel="icon"      href="/favicon.ico?v=2">
    -->
    <link rel="stylesheet" type="text/css" href="/css/stay-whimsical.css">
  </head>
  <body>
    <div class="content">
      {% block main %}
      {% endblock %}
    </div>
  </body>
</html>
