{% extends "./templates/base.tmpl" %}

{% block header %}
    <title>{{title}}</title>
    <meta name="author" content="{{author}}">
    <meta name="keywords" content="{{keywords_list}}">
    
    <meta name="description" content="{{description_abridged}}">
    <meta property="og:description" content="{{og_description}}">

    <meta property="og:title" content="{{title}}">
    <meta property="og:image" content="{{og_image}}">
    
    <meta property="og:url" content="{{full_uri}}">
    <link rel="canonical" href="{{full_uri}}">
    
    <meta property="og:type" content="website">
    <link ref="alternate" type="application/rss+xml" href="{{rss_feed_uri}}" title="RSS Feed">
{% endblock %}

{% block main %}
    <div id="header">
      <h1>Stay Whimsical</h1>
      <p style="font-size: 50px; text-align: center">🐐</p>
    </div>
    <div id="works">
      <h2>Our work</h2>
      <ul>
        <li><a href="/screamchess.html">Screamchess ♕🗣</a></li>
        <li><a href="/the-summit.html">The Summit 👽👾</a></li>
        <li><a href="/time-travel.html">NYC Time Travel! ⏳🏃🏼‍♀️🏃🏻‍♂️💨🕥</a></li>
      </ul>
    </div>
{% endblock %}
